<div class="block">
  <div class="columns is-centered is-8">

    <div class="column is-three-quarters">
      <div class="tabs">
        <ul>
          <li class="is-active"><a hx-get="/hive/{{ .HivePublicId }}/comments" hx-swap="innerHTML"
              hx-target="hive-detail-table">Suivi</a></li>
          <li><a hx-get="hive/{{ .HivePublicId }}/harvests" hx-swap="innerHTML" hx-target="innerHTML">Recolte</a></li>
        </ul>
      </div>

      <div id="hive-detail-table">
        {{ template "hive_detail_comment.html" .CommentDetail }}
      </div>

    </div>


    <div class="column is-one-quarter">
      {{ template "card.html" .Card }}
    </div>
  </div>

</div>