<div class="block">
  <div class="columns is-centered is-8">

    <div class="column is-three-quarters">
      <div class="tabs">
        <ul>
          <li class="is-active"
            hx-on:htmx:after-request="this.nextSibling.nextSibling.classList.remove('is-active'); this.classList.add('is-active')">
            <a hx-get="/hive/{{ .HivePublicId }}/comments" hx-swap="innerHTML" hx-target="#hive-detail-table"
              hx-trigger="click">Suivi</a>
          </li>
          <li
            hx-on:htmx:after-request="this.previousSibling.previousSibling.classList.remove('is-active'); this.classList.add('is-active')">
            <a hx-get="/hive/{{ .HivePublicId }}/harvests" hx-swap="innerHTML" hx-target="#hive-detail-table"
              hx-trigger="click">Recolte</a>
          </li>
        </ul>
      </div>

      <div id="hive-detail-table">
        {{ template "hive_detail_comment.html" .CommentDetail }}
      </div>

    </div>


    <div class="column is-one-quarter">
      {{ template "card.html" .Card }}
    </div>
  </div>

</div>