
<!-- Modal to move a hive -->
<div class="modal fade" id="modal_move_hive" tabindex="-1" role="dialog" aria-labelledby="title_move_hive" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_move_hive">{{trads[121]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <form id="move-hive-form" method="POST">

                    <!-- Hive name -->
                    <input type="hidden" class="form-control" id="hive_id_move_modal" value="{{hive.id}}">
                    <div class="form-group">
                        <label for="name_hive_move_modal" class="col-form-label">{{trads[52]}}</label>
                        <input type="text" class="form-control" id="hive_name_move_modal" value="{{hive.name}}" disabled>
                    </div>

                    <!-- Apiary name -->
                    <div class="form-group">
                        <label for="apiary_name_move_modal" class="col-form-label">{{trads[43]}}</label>
                        <select id="apiary_name_move_modal" class="custom-select d-block w-100" old="{{hive.apiary}}" required>
                            <option value="" selected="selected">{{trads[26]}}</option>
                            {% for apiary in apiaries %}
                                {% if apiary.id != hive.apiary_id %}
                                <option value={{apiary.id}}>{{apiary.name}} - {{apiary.location}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                        <button type="submit" class="btn btn-primary">{{trads[14]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

