<!-- Modal to planify an event -->
<div class="modal fade" id="modal_new_event" tabindex="-1" role="dialog" aria-labelledby="title_submit_event" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_submit_event">{{trads[60]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-event-form">
                    <!-- hive name -->
                    <input type="hidden" class="form-control" id="new_event_hive_id" value="{{hive.id}}">
                    <div class="form-group">
                        <label for="new_event_hive_name" class="col-form-label">{{trads[52]}}</label>
                        <input type="text" class="form-control" id="new_event_hive_name" value="{{hive.name}}" disabled>
                    </div>

                    <!-- event type -->
                    <div class="form-group">
                        <label for="new_event_type" class="col-form-label">{{trads[48]}}</label>
                        <select class="custom-select d-block w-100" id="new_event_type">
                        <option value='' selected disabled hidden>{{trads[26]}}</option> <!-- empty field as "Select..." -->
                            {% for event in event_types %}
                                <option value={{event.id}}>{{event[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- current date -->
                    <div class="form-group">
                        <label for="new_event_date" class="col-form-label">{{trads[59]}}</label>
                        <input id="new_event_date" class="form-control" type="text" date_picker="true" required/>
                    </div>

                    <!-- deadline -->
                    <div class="form-group">
                        <label for="new_event_deadline" class="col-form-label">{{trads[61]}}</label>
                        <input id="new_event_deadline" class="form-control" type="text" date_picker="true"/>
                    </div>

                    <!-- note -->
                    <div class="form-group">
                        <label for="new_event_note" class="col-form-label">{{trads[115]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="new_event_note" required></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                        <button type="submit" class="btn btn-primary" onclick="submit_new_event();">{{trads[14]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

