    <!-- Modal to leave a comment -->
<div class="modal fade" id="modal_new_comment" tabindex="-1" role="dialog" aria-labelledby="title_submit_comment" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_submit_comment">{{trads[50]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-comment-form">
                    <input id="new_comment_hive_id" class="form-control" type="hidden" date_picker="true" value="{{hive.id}}"/>

                    <!-- Date of visit -->
                    <div class="form-group">
                        <label for="new_comment_date" class="col-form-label">{{trads[55]}}</label>
                        <input id="new_comment_date" class="form-control" type="text" date_picker="true" required/>
                    </div>

                    <!-- Hive condition -->
                    <div class="form-group">
                        <label for="new_comment_condition" class="col-form-label">{{trads[114]}}</label>
                        <select class="custom-select d-block w-100" id="new_comment_condition" required>
                            <option value='' selected disabled hidden>{{trads[26]}}</option> <!-- empty field as "Select..." -->
                            {% for condition in hive_conditions %}
                            <option value={{condition.id}}>{{condition[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Swarm health -->
                    <div class="form-group">
                        <label for="new_comment_health" class="col-form-label">{{trads[113]}}</label>
                        {% if not hive.swarm %}
                        <select disabled class="custom-select d-block w-100" id="new_comment_health"></select>
                        {% else %}
                        <select class="custom-select d-block w-100" id="new_comment_health">
                            <option value='' selected disabled hidden>{{trads[26]}}</option> <!-- empty field as "Select..." -->
                            {% for health in swarm_healths %}
                                <option value={{health.id}}>{{health[lang]}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <!-- Comment text -->
                    <div class="form-group">
                        <label for="new_comment_text" class="col-form-label">{{trads[56]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="new_comment_text" required></textarea>
                    </div>

                    <!-- Buttons -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                        <button type="submit" class="btn btn-primary">{{trads[14]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


