<!-- Modal to create a new hive condition -->
<div class="modal fade" id="create_hive_condition" tabindex="-1" role="dialog" aria-labelledby="title_create_hive_condition" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_create_hive_condition">{{trads[53]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-hive-condition-form" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="hive_condition_name" name="hive_condition_name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                        <button type="submit" class="btn btn-primary">{{trads[14]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
