<!-- Modal to attach a swarm to the hive -->
<div class="modal fade" id="submit_new_swarm" tabindex="-1" role="dialog" aria-labelledby="title_submit_new_swarm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_submit_new_swarm">{{trads[109]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="swarm_health" class="col-form-label">{{trads[103]}}</label>
                    <select class="custom-select d-block w-100" id="swarm_health">
                    <option value=''>{{trads[26]}}</option>
                        {% for health in swarm_healths %}
                            <option value={{health.id}}>{{health[lang]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                <button type="button" class="btn btn-primary" hive="{{hive.id}}" onclick="attach_swarm_on_hive(this);">{{trads[14]}}</button>
            </div>
        </div>
    </div>
</div>

