<!-- Modal to mark an action as done -->
<div class="modal fade" id="modal_solve_action" hive_id="{{hive.id}} "tabindex="-1" role="dialog" aria-labelledby="title_solve_action" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_solve_action">{{trads[69]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="solve_action_name" class="col-form-label">{{trads[48]}}</label>
                    <input type="text" class="form-control" id="solve_action_name" disabled>
                </div>
                <div class="form-group">
                    <label for="solve_action_date" class="col-form-label">{{trads[59]}}</label>
                    <input id="solve_action_date" class="form-control" type="text" date_picker="true"/>
                </div>
                <div class="form-group">
                    <label for="solve_action_comment" class="col-form-label">{{trads[56]}}</label>
                    <textarea aria-label="With textarea" class="form-control" id="solve_action_comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                <button type="button" class="btn btn-primary" onclick="submit_solve_action_modal();">{{trads[14]}}</button>
            </div>
        </div>
    </div>
</div>

