<!-- Modal to mark an event as done -->
<div class="modal fade" id="modal_solve_event" tabindex="-1" role="dialog" aria-labelledby="title_solve_event" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_solve_event">{{trads[69]}}</h5>
                <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="solve-event-form">
                    <input type="hidden" class="form-control" id="solve_event_hive_id" value="{{hive.id}}">

                    <div class="form-group">
                        <label for="solve_event_name" class="col-form-label">{{trads[48]}}</label>
                        <input type="text" class="form-control" id="solve_event_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="solve_event_date" class="col-form-label">{{trads[59]}}</label>
                        <input id="solve_event_date" class="form-control" type="text" date_picker="true"/>
                    </div>
                    <div class="form-group">
                        <label for="solve_event_comment" class="col-form-label">{{trads[56]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="solve_event_comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                        <button type="submit" class="btn btn-primary">{{trads[14]}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

