# useless
*.pyc
*.log
*.swp
__pycache__
var/
.mypy_cache

# dev env
.vscode/
.venv
.coverage
.env
.ycm_extra_conf.py
tags
.ropeproject

# dockercompose
docker-compose.override.yml

# cachette
**/cache
**/secrets.yaml
**/*.secret
**/*.secrets
environment.yaml
**/tokens/*

# node js
.eslintcache
node_modules
.next

# dumb birds
*.egg-info

# poseidon useless files
dist
build

# google api files
google-credentials.json
token.json

# postgres
.pgpass

# rust
**/target/
**/zeus/keys/
