{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[95]}}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include "akingbee/swarm/menu.html" %}
            <div class="col-10">
                <br/><br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto">
                            <label>{{trads[99]}}</label>
                            <select class="custom-select" id="health_filter" onchange="filter_table_swarm();">
                                <option value=''>{{trads[72]}}</option>
                                {% for health in healths %}
                                <option value="{{health.id}}">{{health[lang]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <table class="table table-hower" id="swarm_table">
                            <!-- name, location, birthday, status, honey -->
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{trads[22]}}</th>
                                    <th scope="col">{{trads[52]}}</th>
                                    <th scope="col">{{trads[99]}}</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <body>
                                {% for n in range(swarms|length) %}
                                <tr>
                                    <th scope="row">{{n+1}}</th>
                                    <td class="name_td">{{swarms[n].name}}</td>
                                    <td class="hive_td">{{swarms[n].hive.name}}</td>
                                    <td class="health_td">{{swarms[n].health[lang]}}</td>
                                    <td><button type="button" class="btn btn-link" name="swarm_{{swarms[n].id}}" onclick="modal_swarm_edit(this);">{{trads[102]}}</button></td>
                                    <td><button type="button" class="btn btn-link" name="swarm_{{swarms[n].id}}" onclick="modal_comment(this);">{{trads[50]}}</button></td>
                                    <td><button type="button" class="btn btn-link" name="swarm_{{swarms[n].id}}" onclick="delete_swarm(this);">{{trads[64]}}</button></td>
                                </tr>
                                {% endfor %}
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to edit a swarm -->
    <div class="modal fade" id="edit_swarm" tabindex="-1" role="dialog" aria-labelledby="title_edit_swarm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_edit_swarm">{{trads[102]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="swarm_name_modal" class="col-form-label" id="swarm_id">{{trads[22]}}</label>
                        <input type="text" class="form-control" id="swarm_name_modal">
                    </div>
                    <div class="form-group">
                        <label for="swarm_health_modal" class="col-form-label">{{trads[102]}}</label>
                        <select id="swarm_health_modal" class="custom-select d-block w-100" required="">
                            {% for health in healths %}
                            <option value="{{health.id}}">{{health[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="swarm_hive_modal" class="col-form-label">{{trads[52]}}</label>
                        <select id="swarm_hive_modal" class="custom-select d-block w-100" required="">
                            {% for hive in hives %}
                            <option value="{{hive.id}}">{{hive.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_swarm_modal();">{{trads[14]}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to leave a comment -->
    <div class="modal fade" id="submit_comment" tabindex="-1" role="dialog" aria-labelledby="title_submit_comment" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_submit_comment">{{trads[50]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment_name" class="col-form-label">{{trads[52]}}</label>
                        <input type="text" class="form-control" id="comment_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="comment_date" class="col-form-label">{{trads[55]}}</label>
                        <input id="comment_date" class="form-control" type="text" date_picker="true"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_status" class="col-form-label">{{trads[42]}}</label>
                        <select class="custom-select d-block w-100" id="comment_status">
                            <option value=''>{{trads[26]}}</option>
                            {% for status in hive_statuses %}
                            <option value={{status.id}}>{{status[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment_comment" class="col-form-label">{{trads[56]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="comment_comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_comment_modal();">{{trads[14]}}</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/swarms.js"></script>
{% endblock %}
