<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="text-center">
        <img class="rounded mx-auto" src="/images/swarm_color.svg" alt="Swarm" width="60%"/>
    </div>
    <br/>
    <div class="sidebar-sticky" id="sidebar-menu">
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[95]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/swarm" id="/swarm">
                    {{trads[96]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/swarm/create" id="/swarm/create">
                    {{trads[97]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub disabled" href="#">
                    {{trads[35]}}
                </a>
            </li>
        </ul>
    </div>
</nav>
