<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidebar-menu">
        <!-- SWARM -->
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[101]}}
                </label>
            </li>
            <!-- SWARM HEALTH -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/swarm/health" id="/setup/swarm/health">
                    {{trads[99]}}
                </a>
            </li>
        </ul>
        <br/>
        <!-- HIVE -->
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[81]}}
                </label>
            </li>
            <!-- BEEKEEPER -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/hive/owner" id="/setup/hive/owner">
                    {{trads[40]}}
                </a>
            </li>
            <!-- STATUS -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/hive/conditions" id="/setup/hive/status">
                    {{trads[42]}}
                </a>
            </li>
           <!-- EVENTS -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/hive/events" id="/setup/hive/events">
                    {{trads[48]}}
                </a>
            </li>
            <!-- HONEY TYPE -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/hive/honey" id="/setup/hive/honey">
                    {{trads[27]}}
                </a>
            </li>
         </ul>
        <br/>
        <!-- APIARY -->
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[82]}}
                </label>
            </li>
            <!-- STATUS -->
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/setup/apiary/status" id="/setup/apiary/status">
                    {{trads[28]}}
                </a>
            </li>
        </ul>
    </div>
</nav>
