[tool.poetry]
name = "gaea"
version = "0.1.6"
description = ""
authors = ["rarnal <arnal.romain@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
redis = "^3.5.3"
sqlalchemy = "^1.3.18"
alembic = "^1.4.2"
dynaconf = "^3.0.0"
psycopg2-binary = "^2.8.5"
fastapi = "^0.61.0"

[tool.poetry.dev-dependencies]
pylint = "^2.5.3"
alembic = "^1.4.2"
black = "^19.10b0"
pytest = "^6.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
