[tool.poetry]
name = "gaea"
version = "0.1.24"
description = ""
authors = ["rarnal <arnal.romain@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
redis = "^3"
sqlalchemy = "^1"
alembic = "^1"
dynaconf = "^3"
psycopg2-binary = "^2"
fastapi = "^0"
uvicorn = "^0"
pika = "^1"
pydantic = "^1"

[tool.poetry.dev-dependencies]
pylint = "*"
alembic = "*"
black = "*"
pytest = "*"
mock = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
