{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[6]}}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include "akingbee/apiary/menu.html" %}
            <form id="form-create-apiary">
                <div class="col-10">
                    <p><h5 id="form-title">{{trads[21]}}</h5></p>
                    <div class="row">
                        <div class="col-4">
                            <label for="apiary_name">{{trads[22]}}</label>
                            <input id="apiary_name" name="apiary_name" class="form-control" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <label for="apiary_location">{{trads[23]}}</label>
                            <input id="apiary_location" name="apiary_location" class="form-control" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <label for="apiary_birthday">{{trads[31]}}</label>
                            <input id="apiary_birthday" name="apiary_birthday" class="form-control" type="text" date_picker="true" required/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <label for="apiary_honey_type">{{trads[27]}}</label>
                            <select id="apiary_honey_type" name="apiary_honey_type" class="custom-select d-block w-100" required>
                                <option value="">{{trads[26]}}</option>
                                {% for type in honey_types %}
                                    <option value={{type.id}}>{{type[lang]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-light create_new_type_button" data-toggle="modal" data-target="#create_honey_type" area_hidden="true"></button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <label for="apiary_status">{{trads[28]}}</label>
                            <select id="apiary_status" name="apiary_status" class="custom-select d-block w-100" required>
                                {% for status in apiary_statuses %}
                                    <option value={{status.id}}>{{status[lang]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-light create_new_type_button" data-toggle="modal" data-target="#create_status_apiary" area_hidden="true"></button>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-primary" type="submit">{{trads[14]}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "/akingbee/modals/new_honey_type.html" %}
    {% include "/akingbee/modals/new_apiary_status.html" %}
{% endblock %}

{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/apiary.js"></script>
{% endblock %}
