{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[6]}}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        {% include "akingbee/apiary/menu.html" %}
        <div class="col-10">
            <br/><br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <label>{{trads[23]}}</label>
                        <select class="custom-select" id="location_filter" onchange="filter_table_apiary();">
                            <option value=''>{{trads[72]}}</option>
                            {% for location in locations %}
                            <option value="{{location}}">{{location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                    <label>{{trads[28]}}</label>
                        <select class="custom-select" id="status_filter" onchange="filter_table_apiary();">
                            <option value=''>{{trads[51]}}</option>
                            {% for status in apiary_statuses %}
                                <option value="{{status[lang]}}">{{status[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <label>{{trads[27]}}</label>
                        <select class="custom-select" id="honey_filter" onchange="filter_table_apiary();">
                            <option value=''>{{trads[51]}}</option>
                            {% for type in honey_types %}
                            <option value="{{type[lang]}}">{{type[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <table class="table table-hower" id="apiary_table">
                        <!-- name, location, birthday, status, honey -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{trads[22]}}</th>
                                <th scope="col">{{trads[23]}}</th>
                                <th scope="col">{{trads[28]}}</th>
                                <th scope="col">{{trads[27]}}</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <body>
                            {% for n in range(apiaries|length) %}
                            <tr>
                                <th scope="row">{{n+1}}</th>
                                <td class="name_td">{{apiaries[n].name}}</td>
                                <td class="location_td">{{apiaries[n].location}}</td>
                                <td class="status_td">{{apiaries[n].status[lang]}}</td>
                                <td class="honey_td">{{apiaries[n].honey_type[lang]}}</td>
                                <td><button type="button" class="btn btn-link" onclick="modal_apiary_edit({{apiaries[n].id}});">{{trads[93]}}</button></td>
                                <td><button type="button" class="btn btn-link" onclick="delete_apiary({{apiaries[n].id}});">{{trads[64]}}</button></td>
                            </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "/akingbee/modals/edit_apiary.html" %}
{% endblock %}


{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/apiary.js"></script>
{% endblock %}
