{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[6]}}
{% endblock %}

{% block main %}
    <div class="container-fluid" id="menu_nb" name="3">
        <div class="row">
            <div class="col-2">
                {% include "akingbee/bees_menu.html" %}
            </div>
            <div class="col-10">
                <br/><br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto">
                            <label>{{trads[23]}}</label>
                            <select class="custom-select" id="location_filter" onchange="filter_table_apiary();">
                                <option value=''>{{trads[72]}}</option>
                                {% for location in locations %}
                                <option value="{{location}}">{{location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                        <label>{{trads[28]}}</label>
                            <select class="custom-select" id="status_filter" onchange="filter_table_apiary();">
                                <option value=''>{{trads[51]}}</option>
                                {% for status in apiary_statuses %}
                                    {% if lang == 'fr' %}
                                    <option value="{{status.fr}}">{{status.fr}}</option>
                                    {% elif lang == 'en' %}
                                    <option value="{{status.en}}">{{status.en}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{trads[27]}}</label>
                            <select class="custom-select" id="honey_filter" onchange="filter_table_apiary();">
                                <option value=''>{{trads[51]}}</option>
                                {% for type in honey_types %}
                                    {% if lang == 'fr' %}
                                    <option value="{{type.fr}}">{{type.fr}}</option>
                                    {% elif lang == 'en' %}
                                    <option value="{{type.en}}">{{type.en}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <table class="table table-hower" id="apiary_table">
                            <!-- name, location, birthday, status, honey -->
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{trads[22]}}</th>
                                    <th scope="col">{{trads[23]}}</th>
                                    <th scope="col">{{trads[28]}}</th>
                                    <th scope="col">{{trads[27]}}</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <body>
                                {% for n in range(apiaries|length) %}
                                <tr>
                                    <th scope="row">{{n+1}}</th>
                                    <td class="name_td">{{apiaries[n].name}}</td>
                                    <td class="location_td">{{apiaries[n].location}}</td>
                                    {% if lang == 'fr' %}
                                        <td class="status_td">{{apiaries[n].status.fr}}</td>
                                        <td class="honey_td">{{apiaries[n].honey_type.fr}}</td>
                                    {% elif lang == 'en' %}
                                        <td class="status_td">{{apiaries[n].status.en}}</td>
                                        <td class="honey_td">{{apiaries[n].honey_type.en}}</td>
                                    {% endif %}
                                    <td><button type="button" class="btn
                                            btn-link" name="apia_{{apiaries[n].id}}" onclick="modal_apiary_edit(this);">{{trads[93]}}</button></td>
                                    <td><button type="button" class="btn
                                            btn-link" name="apia_{{apiaries[n].id}}" onclick="delete_apiary(this);">{{trads[64]}}</button></td>
                                </tr>
                                {% endfor %}
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to edit a beehouse -->
    <div class="modal fade" id="edit_apiary" tabindex="-1" role="dialog" aria-labelledby="title_edit_apiary" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_edit_apiary">{{trads[93]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="apiary_name_modal" class="col-form-label" id="apiary_id">{{trads[22]}}</label>
                        <input type="text" class="form-control" id="apiary_name_modal">
                    </div>
                    <div class="form-group">
                        <label for="apiary_location_modal" class="col-form-label">{{trads[23]}}</label>
                        <input type="text" class="form-control" id="apiary_location_modal">
                    </div>
                    <div class="form-group">
                        <label for="apiary_status_modal" class="col-form-label">{{trads[28]}}</label>
                        <select id="apiary_status_modal" class="custom-select d-block w-100" required="">
                            {% for status in apiary_statuses %}
                                {% if lang == 'fr' %}
                                <option value="{{status.id}}">{{status.fr}}</option>
                                {% elif lang == 'en' %}
                                <option value="{{status.id}}">{{status.en}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="apiary_honey_modal" class="col-form-label">{{trads[27]}}</label>
                        <select id="apiary_honey_modal" class="custom-select d-block w-100" required="">
                            {% for type in honey_types %}
                                {% if lang == 'fr' %}
                                <option value="{{type.id}}">{{type.fr}}</option>
                                {% elif lang == 'en' %}
                                <option value="{{type.id}}">{{type.en}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_apiary_modal();">{{trads[14]}}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/apiary/index.js"></script>
{% endblock %}
