<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="text-center">
        <img class="rounded mx-auto" src="/images/apiary_color.svg" alt="Apiary" width="60%"/>
    </div>
    <br/>
    <div class="sidebar-sticky" id="sidebar-menu">
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[6]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/apiary" id="/apiary">
                    {{trads[47]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/apiary/create" id="/apiary/create">
                    {{trads[20]}}
                </a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link sub disabled" href="#">
                    {{trads[35]}}
                </a>
            </li>
        </ul>
    </div>
</nav>
