<div class="card">
  {{ with .Header }}
  <header class="card-header">
    <p class="card-header-title">{{ .Title }}</p>
    {{ if .Button }}<div class="card-header-item"> {{ template "button.html" .Button }} </div>{{ end}}
  </header>
  {{ end }}

  {{ with .Content }}
  <div class="card-content" {{ if .Id }}id="{{ .Id }}" {{ end }}>
    {{ with .HorizontalTable }}
    <div class="fixed-grid">
      <div class="grid">
        {{ range .Values }}
        <div class="cell has-text-right heading mr-5">{{ .Key }}</div>
        <div class="cell"><i>{{ .Value }}</i></div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}

  {{ with .Footer }}
  <footer class="card-footer">
    {{ range .Items }}
    <div class="card-footer-item">
      {{ with .UpdateStrategy }}{{ template "update_strategy.html" . }}{{ end }}
    </div>
    {{ end }}
  </footer>
  {{ end }}

</div>