<form id="{{ .Id }}" hx-{{ .Method }}="{{ .Url }}"
  hx-on:htmx:after-request=" if (event.detail.successful) {this.reset()}"
  hx-on:htmx:validation:validate="this.reportValidity()">
  <div class="column is-narrow">

    {{ range .Inputs }}
    <div class="field is-horizontal">
      <div class="field-label is-normal is-flex-grow-4">{{ .Label }}</div>
      <div class="field-body">
        <div class="control">
          {{ template "input.html" . }}
        </div>
      </div>
    </div>
    {{ end }}

  </div>
</form>