{{ define "baseInput" }}
<div class="field is-horizontal {{ if .Narrow }}is-narrow{{end}} {{ if .RichEditor}}is-flex-direction-column{{ end }}">

  {{ if .Label }}<div class="field-label is-normal">{{ .Label }}</div>{{ end }}

  <div class="control">
    {{ if .RichEditor }}
    <input hidden name="{{ .Name }}">
    <div class="rich-editor" hx-trigger="load" hx-get="data:text/html," hx-swap='none'
      hx-on:htmx:after-request="const quill = new Quill(this, {modules: {toolbar: [['bold', 'italic', 'underline', 'strike'], [{'list': 'bullet'}, {'list': 'ordered'}], [{'color': []}, {'background': []}, 'list']]}, theme: 'snow'}); quill.on('text-change', (range, oldRange, source) => {this.previousSibling.previousSibling.previousSibling.value=quill.getSemanticHTML()});">
    </div>


    {{ else }}


    {{ if .ChoicesStrict }}
    <div class="select is-fullwidth">
      <select name="{{ .Name }}">
        {{ range .ChoicesStrict }}
        <option {{ if .Disabled }}disabled{{end}} {{ if .Selected }}selected{{ end }} value="{{ .Key }}">{{ .Label
          }}
        </option>
        {{ end }}
      </select>
    </div>

    {{ else }}

    {{ if .ChoicesFree }}
    <datalist id="datalist-{{ .Name }}">
      {{ range .ChoicesFree }}
      <option {{ if .Disabled }}disabled{{end}} {{ if .Selected }}selected{{ end }} value="{{ .Key }}">{{ .Label }}
      </option>
      {{ end }}
    </datalist>
    {{ end }}

    <input class="input" type="{{ .Type }}" name="{{ .Name }}" onkeyup="this.setCustomValidity('')" {{ if .Required }}
      hx-on:htmx:validation:validate="if (this.value.length < 1) {this.setCustomValidity('Required')}" {{ end}} {{ if
      .ChoicesFree }} list="datalist-{{ .Name }}" {{ end }} {{ if .Default }}value="{{ .Default }}" {{ end }}>
    {{ end }}


    {{ end }}
  </div>
</div>
{{ end }}

<div class="field-body">
  {{ if .GroupedInput }}

  {{ range .GroupedInput}}
  {{ template "baseInput" .}}

  {{ end }}
  {{ else }}
  {{ template "baseInput" .}}

  {{ end }}
</div>