<div class="modal" hx-on:htmx:after-request="this.classList.remove('is-active')">

  <div class="modal-background" hx-on:click="this.closest('.modal').classList.remove('is-active')"></div>

  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title">{{ .Title }}</p>

      <button class="modal-close is-large" aria-label="close"
        onclick="this.closest('.modal').classList.remove('is-active')"></button>
    </header>

    <section class="modal-card-body">
      {{ template "form.html" .Form }}
    </section>

    <footer class="modal-card-foot">
      <button class="button is-link" form="{{ .Form.Id }}">
        {{ .SubmitFormButton.Label }}
      </button>
    </footer>

  </div>
</div>

<div hx-on:click="this.previousSibling.previousSibling.classList.add('is-active')">
  {{ template "button.html" .ShowModalButton }}
</div>