<nav class="navbar is-warning is-fixed-top has-background-warning-95 has-shadow">
  <div class="navbar-brand">
    <img src="/logo.svg">
    <img src="/akingbee.svg">
  </div>
  <div class="navbar-menu has-text-inherit">

    <div class="navbar-end pr-5">

      <a class="navbar-item has-text-warning-95-invert" hx-get="/login" hx-target="#page-body" hx-swap="innerHTML"
        hx-push-url="/login">
        Connexion
      </a>

      <a class="navbar-item has-text-warning-95-invert" hx-get="/register" hx-target="#page-body" hx-swap="innerHTML"
        hx-push-url="/register">
        Inscription
      </a>

    </div>
  </div>
</nav>