<nav class="navbar is-fixed-top has-background-warning-95 has-shadow">
  <div class="navbar-brand">
    <img src="/logo.svg">
    <img src="/akingbee.svg">
  </div>
  <div class="navbar-menu has-text-inherit">

    <div class="navbar-start has-text-inherit">
      <p class="navbar-item"><a class="has-text-warning-95-invert">Ruches</a></p>
      <p class="navbar-item"><a class="has-text-warning-95-invert" hx-get="/apiary" hx-target="#page-body"
          hx-swap="innerHTML" hx-push-url="/apiary">Ruchers</a></p>
      <p class="navbar-item"><a class="has-text-warning-95-invert">Paramètres</a></p>
    </div>

    <div class="navbar-end pr-5">
      <p class="navbar-item"><strong class="has-text-warning-95-invert">Bienvenue {{ .Username }}</strong></p>
      <p class="navbar-item"><a class="has-text-warning-95-invert" hx-post="/logout" hx-swap="none">Déconnexion</a></p>
    </div>
  </div>
</nav>