<td>
  {{ if .Label }} {{ .Label }} {{end}}
  {{ if .HTMLContent }} {{ .HTMLContent }} {{end}}
  <!-- {{ with .UpdateStrategy }}{{ template "update_strategy.html" . }}{{ end }} -->
  {{ if .GroupedCells }}
  <nav class="level">
    <div class="level-left">
      {{ range .GroupedCells }}
      <div class="level-item">
        {{ with .UpdateStrategy }}{{ template "update_strategy.html" . }}{{ end }}
        {{ if .Label }} {{ .Label }} {{end}}
        {{ if .HTMLContent }} {{ .HTMLContent }} {{end}}
      </div>
      {{ end }}
    </div>
  </nav>
  {{ end }}
</td>