<table class="
  table
  is-striped
  is-sortable
  {{ if .IsBordered}}is-bordered{{ end }}
  {{ if .IsStripped}}is-stripped{{ end }}
  {{ if .IsFullWidth}}is-fullwidth{{ end }}
  
">

  <thead>
    <tr>
      {{ range .Headers }}
      <th>{{ .Label }}</th>
      {{ end }}
    </tr>
  </thead>

  <tbody>
    {{ range .Rows }}
    <tr>
      {{ range .Values }}
      <td>
        {{ if .Label }}
        {{ .Label }}
        {{ else if .ModalForm }}
        {{ template "modal.html" .ModalForm }}
        {{ end }}
      </td>
      {{ end }}
    </tr>
    {{ end }}
  </tbody>

</table>