<td>
  {{ with .UpdateRow.Swap }}
  <div hx-target="closest tr" hx-swap="{{ . }}">{{ end }}
    {{ if .Label }} {{ .Label }} {{end}}
    {{ if .Button }} {{ template "button.html" .Button }} {{ end}}
    {{ if .ModalForm }} {{ template "modal.html" .ModalForm }} {{ end }}
    {{ if .GroupedCells }}
    <nav class="level">
      <div class="level-left">
        {{ range .GroupedCells }}
        <div class="level-item">
          {{ with .UpdateRow.Swap }}
          <div hx-target="closest tr" hx-swap="{{ . }}">
            {{ end }}
            {{ if .Label }} {{ .Label }} {{end}}
            {{ if .Button }} {{ template "button.html" .Button }} {{ end}}
            {{ if .ModalForm }} {{ template "modal.html" .ModalForm }} {{ end }}
            {{ if .UpdateRow}}
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </nav>
    {{ end }}
    {{ if .UpdateRow}}
  </div>{{ end }}
</td>