[tool.poetry]
name = "aristaeus"
version = "1.6.0"
description = "description"
authors = ["rarnal <arnal.romain@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2"
aiohttp = "^3"
gaea = "^1.3.0"

[tool.poetry.dev-dependencies]
pylint = "*"
pytest = "*"
black = "*"
mock = "*"
coverage = {version = "*", extras = ["toml"]}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.coverage.run]
branch = true
source = ["aristaeus"]
omit = ["tests"]
