{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[5]}}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include "akingbee/hive/menu.html" %}
            <div class="col-10">
                <p><h5 id="form-title">{{trads[37]}}</h5></p>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_name">{{trads[22]}}</label>
                        <input id="hive_name" name="hive_name" class="form-control" required/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_birthday">{{trads[31]}}</label>
                        <input id="hive_birthday" name="hive_birthday" class="form-control" type="text" date_picker="true"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_apiary">{{trads[43]}}</label>
                        <select id="hive_apiary" name="hive_apiary" class="custom-select d-block w-100" required="">
                            <option value=''>{{trads[26]}}</option>
                            {% for apiary in apiaries %}
                                <option value={{apiary.id}}>{{apiary.name}} - {{apiary.location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-light create_new_type_button" onclick="redirect_create_apiary();"></button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_owner">{{trads[40]}}</label>
                        <select id="hive_owner" name="hive_owner" class="custom-select d-block w-100" required>
                            <option value=''>{{trads[26]}}</option>
                            {% for owner in owners %}
                                <option value={{owner.id}}>{{owner.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-light create_new_type_button" data-toggle="modal" data-target="#create_owner" area_hidden="true"></button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_condition">{{trads[42]}}</label>
                        <select id="hive_condition" name="hive_condition" class="custom-select d-block w-100" required>
                            <option value=''>{{trads[26]}}</option>
                            {% for hive_condition in hive_conditions %}
                                <option value={{hive_condition.id}}>{{hive_condition[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-light create_new_type_button" data-toggle="modal" data-target="#create_hive_status" area_hidden="true"></button> 
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label for="hive_swarm_health">{{trads[103]}}</label>
                        <select id="hive_swarm_health" name="hive_sawrm_health" class="custom-select d-block w-100">
                            <option value=''>{{trads[104]}}</option>
                            {% for swarm_health in swarm_healths %}
                                <option value={{swarm_health.id}}>{{swarm_health[lang]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-4">
                        <button id="submit_hive" class="btn btn-primary" onclick="createNewHive();">{{trads[14]}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to create a new owner -->
    <div class="modal fade" id="create_owner" tabindex="-1" role="dialog" aria-labelledby="title_create_owner" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_create_owner">{{trads[44]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="owner_name" class="col-form-label">{{trads[40]}}</label>
                        <input type="text" class="form-control" id="owner_name" name="owner_name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="new_owner();">{{trads[14]}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to create a new hive status -->
    <div class="modal fade" id="create_hive_status" tabindex="-1" role="dialog" aria-labelledby="title_create_hive_status" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_create_hive_status">{{trads[45]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="hive_status_name_fr" class="col-form-label">Français</label>
                        <input type="text" class="form-control" id="hive_status_name_fr" name="hive_status_name_fr">
                    </div>
                    <div class="form-group">
                        <label for="hive_status_name_en" class="col-form-label">English</label>
                        <input type="text" class="form-control" id="hive_status_name_en" name="hive_status_name_en">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{trads[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="new_hive_status();">{{trads[14]}}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/hives.js"></script>
{% endblock %}
