{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[5]}}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include "akingbee/hive/menu.html" %}
            <div class="col-10">
                <br/><br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-1 text-right">
                            <button type="button" class="btn btn-light left-arrow" area_hidden="true" onclick="arrowAction('prev')"></button>
                        </div>
                        <div class="col-3">
                            <h2 class="text-center">{{hive.name}}</h2>
                        </div>
                        <div class="col-1 text-left">
                            <button type="button" class="btn btn-light right-arrow" area_hidden="true" onclick="arrowAction('next')"></button>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-auto">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <!-- apiary -->
                                        <th>{{trads[43]}}</th>
                                        <td>{{hive.apiary.name}} - {{hive.apiary.location}}</td>
                                    </tr>
                                    <tr>
                                        <!-- beekeeper -->
                                        <th>{{trads[40]}}</th>
                                        <td>{{hive.owner.name}}</td>
                                    </tr>
                                    <tr>
                                        <!-- condition -->
                                        <th>{{trads[114]}}</th>
                                        <td>{{hive.condition[lang]}}</td>
                                    </tr>
                                    <tr>
                                        <!-- swarm health -->
                                        <th>{{trads[113]}}</th>
                                        <td>
                                        {% if hive.swarm %}
                                        {{hive.swarm.health[lang]}}
                                        {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col flex-end">
                            <div class="row">
                                <!-- Edit hive-->
                                <div class="col-auto">
                                    <button type="button" class="btn btn-link btn-smenu" onclick="show_modal_hive_edit();">{{trads[49]}}</button>
                                </div>
                                <!-- New comment-->
                                <div class="col-auto">
                                    <button type="button" class="btn btn-link btn-smenu" onclick="show_modal_new_comment();">{{trads[73]}}</button>
                                </div>
                                <!-- New event-->
                                <div class="col-auto">
                                    <button type="button" class="btn btn-link btn-smenu" onclick="show_modal_new_event();">{{trads[54]}}</button>
                                </div>
                                <!-- other actions-->
                                <div class="col-auto">
                                    <button id="button_other_actions" type="btn-group" class="btn btn-link btn-smenu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{trads[120]}}</button>
                                    <div class="dropdown-menu" aria-labelledby="button_other_actions">
                                        <!-- delete hive-->
                                        <button class="dropdown-item" class="btn btn-link btn-smenu" name="{{hive.name}}" onclick="delete_hive({{hive.id}})">{{trads[94]}}</button>
                                        {% if apiaries|length  >= 2 %}
                                        <button class="dropdown-item" class="btn btn-link btn-smenu" name="{{hive.name}}" onclick="show_move_hive_modal()">{{trads[121]}}</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="history_tab" data-toggle="tab" href="#history_content" role="tab" aria-control="history_content" aria-selected="true">{{trads[111]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="event_tab" data-toggle="tab" href="#event_content" role="tab" aria-control="event_content" aria-selected="true">{{trads[112]}}</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- COMMENTARY SECTION -->
                    <div class="tab-pane fade show active" id="history_content" role="tabpanel" aria-labelledby="history_tab">
                    <br/>
                    <!-- filters -->
                    {% if comments|length > 0 %}
                        <div class="row">
                            <div class="col-2">
                                <label>{{trads[63]}}</label>
                                <select class="custom-select" id="source_filter" onchange="filter_table_hive_details();">
                                    <option value=''>{{trads[72]}}</option>
                                    {% for type in comment_types %}
                                        <option value="{{type[lang]}}">{{type[lang]}}</option>
                                    {% endfor %} </select>
                            </div>
                            <div class="col-2">
                                <label>{{trads[43]}}</label>
                                <select class="custom-select" id="apiary_filter" onchange="filter_table_hive_details();">
                                    <option value=''>{{trads[51]}}</option>
                                    {% for apiary in apiaries %}
                                        <option value="{{apiary.name}} - {{apiary.location}}">{{apiary.name}} - {{apiary.location}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2">
                                <label>{{trads[99]}}</label>
                                <select class="custom-select" id="health_filter" onchange="filter_table_hive_details();">
                                    <option value=''>{{trads[51]}}</option>
                                    {% for health in swarm_healths %}
                                        <option value="{{health[lang]}}">{{health[lang]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br/>
                        <!-- body -->
                        <div class="row">
                            <table class="table table-hover" id="comment_table">
                                <thead>
                                <!-- DATE TYPE APIARY STATUS COMMENT -->
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{trads[59]}}</th>
                                        <th scope="col">{{trads[63]}}</th>
                                        <th scope="col">{{trads[43]}}</th>
                                        <th scope="col">{{trads[42]}}</th>
                                        <th scope="col">{{trads[99]}}</th>
                                        <th scope="col-4">{{trads[50]}}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <body>
                                    {% for n in range(comments|length) %}
                                        <tr>
                                            <th scope="row">{{comments|length - n}}</th>
                                            <td class="date_cm">{{comments[n].date|datetime}}</td>
                                            <td class="type_cm">{{comments[n].type[lang]}}</td>
                                            <td class="apiary_cm">{{comments[n].apiary.name}} - {{comments[n].apiary.location}}</td>
                                            <td class="condition_cm" condition_id="{{comments[n].condition.id}}">{{comments[n].condition[lang]}}</td>
                                            <td class="health_cm" health_id="{{comments[n].health.id}}">{{comments[n].health[lang]}}</td>
                                            <td class="comm_cm col-4">{{comments[n].comment}}</td>
                                            {% if comments[n].type.id == 1 %}  <!-- if it's a "user" comment, it can be edited, otherwise no -->
                                            <td><button type="button" class="btn btn-link" onclick="show_modal_edit_comment('{{comments[n].id}}', this);">{{trads[70]}}</button></td>
                                            {% else %}
                                            <td><button type="button" class="btn btn-link" disabled>{{trads[70]}}</button></td>
                                            {% endif %}
                                            <td><button type="button" class="btn btn-link" onclick="del_comment({{comments[n].id}});">{{trads[64]}}</button></td>
                                        </tr>
                                    {% endfor %}
                                </body>
                            </table>
                        </div>
                    {% else %}
                    <p>{{trads[106]}}</p>
                    {% endif %}
                    </div>

                     <!-- EVENT SECTION -->
                    <div class="tab-pane fade" id="event_content" role="tabpanel" aria-labelledby="event_tab">
                    <br/>
                    {% if events|length > 0 %}
                        {% for n in range(events|length) %}
                            <div class="row justify-center">
                                <div class="col-11 alert alert-warning">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>
                                                {{trads[65]}} : {{events[n].type[lang]}}
                                                {% if events[n].deadline %}
                                                    {{trads[66]}}
                                                    {{events[n].deadline|datetime}}
                                                {% endif %}&nbsp&nbsp
                                                {% if events[n].note %}
                                                    -&nbsp&nbsp
                                                    {{trads[115]}}: {{events[n].note}}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" id="hello" class="btn btn-link btn-alert" onclick="modal_solve_event('{{events[n].id}}', '{{events[n].type[lang]}}');">{{trads[68]}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <p>{{trads[105]}}</p>
                    {% endif %}
                    </div>
               </div>
            </div>
        </div>
    </div>

{% include "/akingbee/modals/edit_hive.html" %}
{% include "/akingbee/modals/new_swarm.html" %}
{% include "/akingbee/modals/new_event.html" %}
{% include "/akingbee/modals/new_comment.html" %}
{% include "/akingbee/modals/edit_comment.html" %}
{% include "/akingbee/modals/solve_event.html" %}
{% include "/akingbee/modals/move_hive.html" %}

{% endblock %}

{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/hives.js"></script>
{% endblock %}
