{% extends "akingbee/layout.html" %}

{% block title %}
    {{trads[5]}}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% include "akingbee/hive/menu.html" %}
            <div class="col-10">
                <br/><br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto">
                            <label>{{trads[43]}}</label>
                            <select class="custom-select" id="apiary_filter" onchange="filter_table_hive();">
                                <option value=''>{{trads[51]}}</option>
                                {% for apiary in apiaries %}
                                <option value="{{apiary.name}} - {{apiary.location}}">{{apiary.name}} - {{apiary.location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{trads[42]}}</label>
                            <select class="custom-select" id="condition_filter" onchange="filter_table_hive();">
                                <option value=''>{{trads[51]}}</option>
                                {% for condition in hive_conditions %}
                                    <option value="{{condition[lang]}}">{{condition[lang]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{trads[40]}}</label>
                            <select class="custom-select" id="owner_filter" onchange="filter_table_hive();">
                                <option value=''>{{trads[51]}}</option>
                                {% for owner in owners %}
                                    <option value="{{owner.name}}">{{owner.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <table class="table table-hover" id="hive_table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{trads[22]}}</th>
                                    <th scope="col">{{trads[43]}}</th>
                                    <th scope="col">{{trads[40]}}</th>
                                    <th scope="col">{{trads[42]}}</th>
                                    <th scope="col">{{trads[103]}}</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <body>
                                {% for i in range(hives|length) %}
                                    <tr>
                                        <th scope="row">{{i+1}}</th>
                                        <td class="name_td"><button type="button" class="btn btn-link black" name="bh_{{hives[i].id}}" onclick="select_hive(this);">{{hives[i].name}}</button></td>
                                        <td class="apiary_td">{{hives[i].apiary.name}} - {{hives[i].apiary.location}}</td>
                                        <td class="owner_td">{{hives[i].owner.name}}</td>
                                        <td class="condition_td">{{hives[i].condition[lang]}}</td>
                                        {% if hives[i].swarm %}
                                        <td class="health_td">{{hives[i].swarm.health[lang]}}</td>
                                        {% else %}
                                        <td class="health_td">{{trads[104]}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/hives.js"></script>
{% endblock %}
