<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="text-center">
        <img class="rounded mx-auto" src="/images/hive3_color.svg" alt="Hive" width="60%"/>
    </div>
    <br/>
    <div class="sidebar-sticky" id="sidebar-menu">
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{trads[5]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/hive" id="/hive">
                    {{trads[46]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="{{url_root}}/hive/create" id="/hive/create">
                    {{trads[36]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub disabled" href="#">
                    {{trads[35]}}
                </a>
            </li>
        </ul>
    </div>
</nav>
