<div id="apiary-{{ .Apiary.ApiaryPublicID }}-card" class="card">
  <div class="card-header">
    <p class="card-header-title">Apiary {{ .Apiary.ApiaryName }}</p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <img src="/public/icon-angle-down.svg">
      </span>
    </button>
  </div>
  <div class="card-content overview">
    <div id="apiary-{{ .Apiary.ApiaryPublicID }}-comment-body" class="content">
      {{ if .Apiary.CommentBody }}
      {{ .Apiary.CommentBody }}
      {{ else }}
      <p class="has-text-grey-light">Aucun commentaire</p>
      {{ end }}
    </div>
  </div>
  <footer id="apiary-{{ .Apiary.ApiaryPublicID }}-footer" class="card-footer overview">
    <div class="card-footer-item">
      <div class="block is-pulled-right">
        {{ template "update_strategy.html" .CreateCommentForm}}
      </div>
    </div>
    {{ if .Apiary.CommentBody }}
    <div class="card-footer-item">
      <div class="block is-pulled-right">
        {{ template "update_strategy.html" .EditCommentForm}}
      </div>
    </div>
    {{ end }}
  </footer>
</div>