<div>
  <section class="section">
    <!-- <div class="box" style="box-shadow: 0px 0.0125em 0.0625em;"> -->
    <div class="block">
      <div class="content">
        <h1 class="title">Rapports</h1>
        <hr>
      </div>
      <div class="columns">
        {{ range .Apiaries }}
        <div class="column">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">Apiary {{ .ApiaryName }}</p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <img src="/public/icon-angle-down.svg">
                </span>
              </button>
            </div>
            {{ if .CommentBody }}
            <div class="card-content">
              <div class="content">
                aaze
                {{ .CommentBody }}
              </div>
            </div>
            {{ end }}
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Nouveau</a>
              <a href="#" class="card-footer-item">Editer</a>
            </footer>
          </div>
        </div>
        {{ end }}
      </div>
  </section>
</div>