<div id="apiary-{{ .Apiary.ApiaryPublicID }}-card" class="card">
  <div class="card-header">
    <p class="card-header-title">Apiary {{ .Apiary.ApiaryName }}</p>
    <div class="card-header-icon">
      <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
          <button class="button is-ghost" aria-haspopup="true"
            aria-controls="dropdown-menu-{{ .Apiary.ApiaryPublicID }}">
            <span class="icon">
              <img src="/public/icon-angle-down.svg">
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-{{ .Apiary.ApiaryPublicID }}" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              {{ template "update_strategy.html" .CreateCommentForm}}
            </div>
            {{ if .Apiary.CommentBody }}
            <div class="dropdown-item">
              {{ template "update_strategy.html" .EditCommentForm}}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div id="apiary-{{ .Apiary.ApiaryPublicID }}-comment-body" class="content">
      {{ if .Apiary.CommentBody }}
      {{ .Apiary.CommentBody }}
      {{ else }}
      <p class="has-text-grey-light">Aucun commentaire</p>
      {{ end }}
    </div>
  </div>
  <div class="card-footer">
    {{ if .Apiary.LastVisitDate}}
    <p>Dernière visite: {{.Apiary.LastVisitDate}}</p>
    {{ end }}
  </div>
</div>