{% extends "akingbee/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<main class="container p-5">
        <form method="POST" onsubmit="return validateLogin();">
            <div class='form-group'>
                <input autocomplete='off' autofocus class="form-control" id="username" placeholder="{{data[2]}}" type="text" required/>
            </div>
            <div class="form-group">
                <input class="form-control" id="password" placeholder="{{data[3]}}" type="password" required/>
            </div>
            <p><button class="btn btn-primary" type="submit">{{data[4]}}</button></p>
            <p><button class="btn btn-secondary" type="button" onclick="forgot_password();">{{data[75]}}</button></p>
        </form>
    </form>
</main>
{% endblock %}
