{% extends "akingbee/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<main class="container p-5">
    <form name="registerForm" onsubmit="return validate_registration();" method="POST">
        <div class='form-group'>
            <input autocomplete='off' autofocus class="form-control" id="username" placeholder="{{trads[2]}}" type="text" pattern="[A-Za-z0-9_-]{3,15}$" title="{{trads[16]}}"/>
        </div>
        <div class='form-group'>
            <input autocomplete='off' class="form-control" id="email" placeholder="{{trads[15]}}" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="{{trads[17]}}"/>
        </div>
        <div class="form-group">
            <input class="form-control" id="password" placeholder="{{trads[3]}}" type="password" pattern="^(?=.*[a-z])(?=.*[0-9])[a-zA-Z0-9_!@*%&$-]{8,}$" title="{{trads[18]}}"/>
        </div>
        <div class="form-group">
            <input class="form-control" id="verify_password" placeholder="{{trads[13]}}" type="password" pattern="^(?=.*[a-z])(?=.*[0-9])[a-zA-Z0-9_!@*%&$-]{8,}$" title="{{trads[18]}}"/>
        </div>
        <button class="btn btn-primary" type="submit">{{trads[14]}}</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/register.js"></script>
{% endblock %}
