{% extends "akingbee/layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<main class="container p-5">
    <form id="reset-form-request" method="POST">
        <div class='form-group'>
            <input autocomplete='off' autofocus class="form-control" id="username" placeholder="{{trads[2]}}" type="text" required/>
        </div>
        <button class="btn btn-primary" type="submit">{{trads[14]}}</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
        <script type='text/javascript' src="/static/akingbee/main_script.js"></script>
        <script type='text/javascript' src="/static/akingbee/pages/login.js"></script>
{% endblock %}
