<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidebar-menu">
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{data[5]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/beehouse/index" id="/beehouse/index">
                    {{data[46]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/beehouse/create" id="/beehouse/create">
                    {{data[36]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub disabled" href="#">
                    {{data[35]}}
                </a>
            </li>
        </ul>
        <br/>
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{data[6]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/apiary/index" id="/apiary/index">
                    {{data[47]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/apiary/create" id="/apiary/create">
                    {{data[20]}}
                </a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link sub disabled" href="#">
                    {{data[35]}}
                </a>
            </li>
        </ul>
    </div>
</nav>