<!DOCTYPE html>

<html lang={{lang}}>

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="/static/bootstrap.css" rel="stylesheet"/>
        <link href="/static/jquery-ui.css" rel="stylesheet"/>
        <link href="/static/style.css" rel="stylesheet"/>
		<link href="/static/toastr.css" rel="stylesheet"/>

        <title>aKingBee - {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="red">A King Bee</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.userId %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/beehouse/index">{{data[74]}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/setup">{{data[7]}}</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <small class="navbar-text -sm" style="margin:3px; margin-right:10px;">{{data[19]}} {{session.username}}</small>
                        <li class="nav-item"><a class="nav-link" href="/logout">{{data[10]}}</a></li>
                        <select class="languageDropList" id="userLanguage" onchange="changeLanguage()">
                            <option value="fr">Français</option>
                            <option value="en">English</option>
                        </select>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">{{data[8]}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">{{data[11]}}</a></li>
                        <select class="languageDropList" id="userLanguage" onchange="changeLanguage()">
                            <option value="fr">Français</option>
                            <option value="en">English</option>
                        </select>
                    </ul>
                {% endif %}
                    
            </div>
        </nav>
        <header>
            <div id="errorMsg"></div>
        </header>

        {% block main %}{% endblock %}

        <script type='text/javascript' src="/static/jquery.js"></script>
        <script type='text/javascript' src="/static/popper.js"></script>
        <script type='text/javascript' src="/static/bootstrap.js"></script>
        <script type='text/javascript' src="/static/jquery-ui.js"></script>
        <script type='text/javascript' src="/static/script.js"></script>
		<script type='text/javascript' src="/static/toastr.js"></script>        
    </body>

</html>
