<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidebar-menu">
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{data[81]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/beehouse/status" id="/setup/beehouse/status">
                    {{data[28]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/beehouse/owner" id="/setup/beehouse/owner">
                    {{data[40]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/beehouse/health" id="/setup/beehouse/health">
                    {{data[42]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/beehouse/honey" id="/setup/beehouse/honey">
                    {{data[27]}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/beehouse/actions" id="/setup/beehouse/actions">
                    {{data[48]}}
                </a>
            </li>
        </ul>
        <br/>
        <ul class="nav flex-column">
            <li class="nav-item main">
                <label class="nav-link">
                    {{data[82]}}
                </label>
            </li>
            <li class="nav-item">
                <a class="nav-link sub" href="/akingbee/setup/apiary/status" id="/setup/apiary/status">
                    {{data[28]}}
                </a>
            </li>
        </ul>
    </div>
</nav>