.content {
  --bulma-content-heading-line-height: 0;
  --bulma-content-block-margin-bottom: 0em;
}


#notificationBox {
  position: fixed !important;
  top: 6rem;
  right: 1rem;
  transition: all ease-in 1s;
}


.modal-card-foot {
  justify-content: flex-end;
}

.no-flex {
  display: block
}



/* stuff related to the overview page */

/* Make all cards in the overview grid have equal height */
.overview .columns .column.is-flex .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overiew .columns .column.is-flex .card .card-content {
  flex-grow: 1;
}

/* Dropdown button styling for overview cards */
/* Only style the trigger button, not modal buttons */
.overview .dropdown-item>div>div:not(.modal) button {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  box-shadow: none;
  justify-content: flex-start;
  padding: 0.375rem 1rem;
}

.overview .dropdown-item>div>div:not(.modal) button:hover {
  background-color: transparent;
}

.overview .dropdown-item:hover {
  background-color: hsl(0, 0%, 96%);
}

/* Increase height of rich text editor in modals */
.overview .modal-card-body .ql-editor {
  min-height: 200px;
}

.overview .modal-card-body {
  padding-top: 0;
}