.content {
  --bulma-content-heading-line-height: 0;
  --bulma-content-block-margin-bottom: 0em;
}


#notificationBox {
  position: fixed !important;
  top: 6rem;
  right: 1rem;
  transition: all ease-in 1s;
}


.modal-card-foot {
  justify-content: flex-end;
}

.no-flex {
  display: block
}