.content {
  --bulma-content-heading-line-height: 0;
  --bulma-content-block-margin-bottom: 0em;
}


#notificationBox {
  position: fixed !important;
  top: 6rem;
  right: 1rem;
  transition: all ease-in 1s;
}


.modal-card-foot {
  justify-content: flex-end;
}

.no-flex {
  display: block
}



/* stuff related to the overview page */

/* Make all cards in the overview grid have equal height */
.overview .columns .column.is-flex .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overview .columns .column.is-flex .card .card-content {
  flex-grow: 1;
}

/* Increase height of rich text editor in modals */
.overview .modal-card-body .ql-editor {
  min-height: 200px;
}

.overview .modal-card-body {
  padding-top: 0;
}

.overview .modal-card-foot {
  padding-top: 0.80rem;
  padding-bottom: 0.80rem;
}