{% extends "akingbee/layout.html" %}

{% block title %}
    {{data[5]}}
{% endblock %}

{% block main %}
    <div class="container-fluid" id="menu_nb" name="0">
        <div class="row">
            <div class="col-2">
                {% include "akingbee/bees_menu.html" %}
            </div>
            <div class="col-10">
                <br/><br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto">
                            <label>{{data[43]}}</label>
                            <select class="custom-select" id="apiary_filter" onchange="filter_table_beehouse();">
                                <option value=''>{{data[51]}}</option>
                                {% for arg in af %}
                                    <option value="{{arg[1]}} - {{arg[2]}}">{{arg[1]}} - {{arg[2]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{data[42]}}</label>
                            <select class="custom-select" id="health_filter" onchange="filter_table_beehouse();">
                                <option value=''>{{data[51]}}</option>
                                {% for arg in hf %}
                                    <option value="{{arg[1]}}">{{arg[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{data[40]}}</label>
                            <select class="custom-select" id="owner_filter" onchange="filter_table_beehouse();">
                                <option value=''>{{data[51]}}</option>
                                {% for arg in of %}
                                    <option value="{{arg[1]}}">{{arg[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label>{{data[28]}}</label>
                            <select class="custom-select" id="status_filter" onchange="filter_table_beehouse();">
                                <option value=''>{{data[51]}}</option>
                                {% for arg in sf %}
                                    <option value="{{arg[1]}}">{{arg[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <table class="table table-hover" id="beehouse_table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{data[22]}}</th>
                                    <th scope="col">{{data[43]}}</th>
                                    <th scope="col">{{data[42]}}</th>
                                    <th scope="col">{{data[40]}}</th>
                                    <th scope="col">{{data[28]}}</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <body>
                                {% for n in range(bh|length) %}
                                    <tr>
                                        <th scope="row">{{n+1}}</th>
                                        <td class="name_td"><button type="button" class="btn btn-link black" name="bh_{{bh[n][0]}}" onclick="select_beehouse(this);">{{bh[n][1]}}</button></td>
                                        <td class="apiary_td">{{bh[n][2]}} - {{bh[n][3]}}</td>
                                        <td class="health_td">{{bh[n][5]}}</td>
                                        <td class="owner_td">{{bh[n][6]}}</td>
                                        <td class="status_td">{{bh[n][4]}}</td>
                                        <td><button type="button" class="btn btn-link" name="bh_{{bh[n][0]}}" onclick="modal_beehouse_edit(this);">{{data[49]}}</button></td>
                                        <td><button type="button" class="btn btn-link" name="bh_{{bh[n][0]}}" onclick="modal_comment(this);">{{data[50]}}</button></td>
                                        <td><button type="button" class="btn btn-link" name="bh_{{bh[n][0]}}" onclick="modal_action(this);">{{data[54]}}</button></td>
                                    </tr>
                                {% endfor %}
                            </body>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to edit a beehouse -->
    <div class="modal fade" id="edit_beehouse" tabindex="-1" role="dialog" aria-labelledby="title_edit_beehouse" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_edit_beehouse">{{data[49]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="beehouse_name_modal" class="col-form-label" id="beehouse_id">{{data[52]}}</label>
                        <input type="text" class="form-control" id="beehouse_name_modal">
                    </div>
                    <div class="form-group">
                        <label for="apiary_name_modal" class="col-form-label">{{data[43]}}</label>
                        <select id="apiary_name_modal" class="custom-select d-block w-100" required="">
                            {% for arg in af %}
                                <option value={{arg[0]}}>{{arg[1]}} - {{arg[2]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="owner_name_modal" class="col-form-label">{{data[40]}}</label>
                        <select id="owner_name_modal" class="custom-select d-block w-100" required="">
                            {% for arg in of %}
                                <option value={{arg[0]}}>{{arg[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status_name_modal" class="col-form-label">{{data[28]}}</label>
                        <select class="custom-select d-block w-100" id="status_name_modal">
                            {% for arg in sf %}
                                <option value={{arg[0]}}>{{arg[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{data[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_beehouse_modal();">{{data[14]}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to leave a comment -->
    <div class="modal fade" id="submit_comment" tabindex="-1" role="dialog" aria-labelledby="title_submit_comment" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_submit_comment">{{data[50]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="comment_name" class="col-form-label">{{data[52]}}</label>
                        <input type="text" class="form-control" id="comment_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="comment_date" class="col-form-label">{{data[55]}}</label>
                        <input id="comment_date" class="form-control" type="text" name="date"/>
                    </div>
                    <div class="form-group">
                        <label for="comment_health" class="col-form-label">{{data[42]}}</label>
                        <select class="custom-select d-block w-100" id="comment_health">
                            <option value=''>{{data[26]}}</option>
                            {% for arg in hf %}
                                <option value={{arg[0]}}>{{arg[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment_comment" class="col-form-label">{{data[56]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="comment_comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{data[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_comment_modal();">{{data[14]}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to planify an action -->
    <div class="modal fade" id="submit_action" tabindex="-1" role="dialog" aria-labelledby="title_submit_action" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title_submit_action">{{data[60]}}</h5>
                    <button type="btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="action_name" class="col-form-label">{{data[52]}}</label>
                        <input type="text" class="form-control" id="action_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="action_type" class="col-form-label">{{data[48]}}</label>
                        <select class="custom-select d-block w-100" id="action_type">
                        <option value=''>{{data[26]}}</option>
                            {% for arg in ab %}
                                <option value={{arg[0]}}>{{arg[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="action_date" class="col-form-label">{{data[59]}}</label>
                        <input id="action_date" class="form-control" type="text" name="date"/>
                    </div>
                    <div class="form-group">
                        <label for="action_deadline" class="col-form-label">{{data[61]}}</label>
                        <input id="action_deadline" class="form-control" type="text" name="date"/>
                    </div>
                    <div class="form-group">
                        <label for="action_comment" class="col-form-label">{{data[56]}}</label>
                        <textarea aria-label="With textarea" class="form-control" id="action_comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{data[33]}}</button>
                    <button type="button" class="btn btn-primary" onclick="submit_action_modal();">{{data[14]}}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
